{% extends 'base.html' %}
{% block body %}
<h2>Panel Administración del Instructor</h2>


<div style="margin-top: 20px; text-align: left;">
    <a href="/users/admin/users/edit/" class="btn btn-primary btn-lg" style="margin: 5px;">Administración de Usuarios</a>
    <a href="/costcenter/admin/cards/manage/" class="btn btn-secondary btn-lg" style="margin: 5px;">Administración de Tarjetas</a>
    <a href="" class="btn btn-success btn-lg" style="margin: 5px;">Generar Acreditaciones</a>
    <a href="" class="btn btn-warning btn-lg" style="margin: 5px;">Generar Consumos</a>
    <a href="" class="btn btn-warning btn-lg" style="margin: 5px;">Contactarse con Soporte</a>
</div>



{% endblock %}
