{% extends 'base.html' %}

{% block body %}
<link href="https://prismanet.prismamediosdepago.com/recargables/media/styles.css" rel="stylesheet" type="text/css">
<link href="https://prismanet.prismamediosdepago.com/recargables/media/TablasStyles.css" rel="stylesheet" type="text/css">


<SCRIPT language="JavaScript" type="text/javascript">


function notEmptyCheck(val,mens) {
   var message="Ingrese un valor";

   if (mens!=null) message=mens;
   if (val.length==0) return message;

   return null;
}

function setParams() {

//    tipo = document.getElementById("todos")

     var opcionIndex = document.myForm.centroCostoCodigo.selectedIndex;
     var valor = document.myForm.centroCostoCodigo.options[opcionIndex].value;
     var index = valor.indexOf('-');
     document.myForm.centroCostoID.value = valor.substring(0, index);
     document.myForm.hijos.value = valor.substring(index + 1);

}

function validatePrompt(Ctrl,PromptStr)
{
     Ctrl.focus();
     Ctrl.select();
     alert(PromptStr);
}


function Validate(frm)
{
   var message = "";

   if (frm.centroCostoCodigo.value == "") {
      if (frm.tipo[1].checked) {
         message = "Debe ingresar un centro de costos para realizar la busqueda.";
      }
   }

   if (message != "") {
      alert(message);
      return false;
   }
   else {
      return true;
   }
}

function check(idElemento) {

    tipo = document.getElementById(idElemento);
    tipo.checked = true;

}
  
</SCRIPT>


	
	
	<BR><TABLE border="0" cellpadding="0" cellspacing="0" width="98%"><TR><TD align="right"><IMG height="21" src="https://prismanet.prismamediosdepago.com/recargables/media/SecTits06.gif" width="220"></TD></TR></TABLE><P align="center"><FONT color="#FF0000"></FONT></P><BR><P><FONT color="#6681a2" face="Arial" size="3"><B>Totales del Organismo por Centro de Costos</B></FONT></P>
	


	<FORM action="{% url 'informacion_por_centro_anterior' %}" method="post" name="myForm" ><TABLE border="0" cellpadding="3" cellspacing="1"><TBODY><TR bgcolor="#b0c0d0"><TD align="left" class="TablaHeader" colspan="2"><B>&nbsp;&nbsp;&nbsp;&nbsp;Seleccionar</B></TD></TR><TR bgcolor="#b0c0d0"><TD align="left" class="TablaRows2" colspan="1">  &nbsp;Per&iacute;odo:&nbsp;     </TD><TD class="TablaRows">&nbsp;&nbsp;  
		{% csrf_token %}
		<SELECT class="FormComboBox" name="periodo">

    {% for value, label in form.periodo.field.choices %}
        <option value="{{value}}">{{label}}</option>
    {% endfor %}

</SELECT>


</TD></TR><TR bgcolor="#b0c0d0"><TD class="TablaRows2"><INPUT name="hijos" type="hidden" value="true"><INPUT checked id="porCodigo" name="tipo" type="radio" value="porCodigo">   &nbsp;Totales para el Centro de Costos:&nbsp;     </TD><TD class="TablaRows">&nbsp;&nbsp;         <SELECT class="FormComboBox" name="centroCostoCodigo" onchange="javascript:check('porCodigo')">
	
<OPTION value="1935676-true">CC Ec Espec (CC EC ESP)                  

	
</SELECT></TD></TR><INPUT name="centroCostoID" type="hidden" value="0"><TR><TD align="right" bgcolor="#383468" class="TablaRows2" colspan="2" height="41">
<INPUT class="FormButton" name="Consultar" type="submit" value="Consultar">  

</TD></TR></TBODY></TABLE></FORM>


{% endblock %}
</BODY></HTML>