{% extends "base.html" %}

{% block title %} Indice {% endblock %}

{% block body %} 


{% if request.method == "GET" %}

    <form action="" method="POST">
        
        {% csrf_token %}

        <table>
        {{form.as_table}}
        </table>
        
        <input type="submit" value="Aceptar">

        {% else %}

        <p>Transacción creada</p>

        {% endif %}
        
        {% if form_errors %}
        <h2>Error:</h2>
            {{ form_errors }}

        {% endif %}

    </form>



{% endblock %}

