{% extends 'base.html' %}

{% block body %}
<link href="https://prismanet.prismamediosdepago.com/recargables/media/styles.css" rel="stylesheet" type="text/css">
<link href="https://prismanet.prismamediosdepago.com/recargables/media/TablasStyles.css" rel="stylesheet" type="text/css">





    
    <BR xmlns>
        
        {% if messages %}
        <ul class="messages" style="display: none;">
            {% for message in messages %}
                <li class="alert">{{ message }}</li>
            {% endfor %}
        </ul>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let messages = document.querySelectorAll('.messages .alert');
                messages.forEach(function(message) {
                    alert(message.textContent);
                });
            });
        </script>

    {% endif %}


    
        
    <form method="post" name="form">
        <P align="center"><font color="#FF0000"></font></P>
        <br>
        <p>
            <font color="#6681a2" face="Arial" size="3"><b>Distribucion de Fondos para Centros de Costos</b></font>
            <br><br>
            <font color="#6681a2" face="Arial" size="2">
                <b id="timestamp">Tener en cuenta que los saldos visualizados corresponden a la fecha y al horario:</b>
            </font>
        </p>
    
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                function updateTimestamp() {
                    var now = new Date();
                    var formattedDate = now.toLocaleDateString('es-ES');
                    var formattedTime = now.toLocaleTimeString('es-ES');
                    document.getElementById('timestamp').innerHTML = 'Tener en cuenta que los saldos visualizados corresponden a la fecha ' + formattedDate + ' y al horario ' + formattedTime;
                }
    
                updateTimestamp();
            });
        </script>
        <br>
        <table border="0" cellpadding="0" cellspacing="0">
            
           
           <form method="POST" action="{% url 'realizar_distribucion' %}">
        {% csrf_token %}
        <table border="0" cellpadding="0" cellspacing="0">
            {% for cc in costcenter %}
            <tr>
                <td class="TablaRows" height="30" style="text-indent : 0em; white-space : nowrap; align : left;">
                    <img src="https://prismanet.prismamediosdepago.com/recargables/media/bullet.gif" style="border-style : none">
                    {{ cc.card_name }} // ({{cc.card_number}})
                </td>
                <td class="TablaRows" style="align : center;" width="120">&nbsp;</td>
                <td class="TablaRows" style="align : center;">
                    Disponible: ${{cc.money}}
                </td>
                <td class="TablaRows" style="align : right;" width="40">&nbsp;</td>
                <td class="TablaRows" style="align : right;"></td>
                <td class="TablaRows" style="align : left;">
                    Saldo final: <span>${{cc.money}}</span>
                </td>
            </tr>
            {% endfor %}

            {% for card in cards %}
            <tr>
                <td class="TablaRows" height="30" style="text-indent : 1.5em; white-space : nowrap; align : left;">
                    <img src="https://prismanet.prismamediosdepago.com/recargables/media/bullet.gif" style="border-style : none">
                    {{ card.card_name }}&nbsp;//  ({{ card.card_number }})
                </td>
                <td class="TablaRows" style="align : center;" width="40">&nbsp;</td>
                <td class="TablaRows" style="align : left;">
                    Disponible: ${{ card.money }}
                </td>
                <td class="TablaRows" style="align : right;" width="40">&nbsp;</td>
                <td align="right" class="TablaRows" style="align : right;">
                    <input class="FormTextBox" id="{{ card.card_number }}" name="{{ card.card_number }}" size="5" style="text-align : right;" type="number" width="40px" min="0" step="0.01" >
                </td>
                <td class="TablaRows" style="align : left;">
                    Saldo final: <span>${{ card.money }}</span>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br>
        <button class="FormButton" type="submit">Acreditar</button>
        <button class="FormButton" type="reset">Limpiar</button>
    </form>

    {% endblock %}
</body>
</html>
