{% extends 'base.html' %}

{% block body %}
<link href="https://prismanet.prismamediosdepago.com/recargables/media/styles.css" rel="stylesheet" type="text/css">
<link href="https://prismanet.prismamediosdepago.com/recargables/media/TablasStyles.css" rel="stylesheet" type="text/css">

<SCRIPT language="JavaScript" type="text/javascript">


function setParams() {

        var opcionIndex = document.myForm.centroCostoCodigo.selectedIndex;
        var valor = document.myForm.centroCostoCodigo.options[opcionIndex].value;
        var index = valor.indexOf('-');
        document.myForm.centroCostoID.value = valor.substring(0, index);
        document.myForm.detalle.value = valor.substring(index+1,valor.length);    
}

  
</SCRIPT>

<BR>
        <P align="center"><FONT color="#FF0000"></FONT></P>
        <BR>
        <P><FONT color="#6681a2" face="Arial" size="3"><B>Rendicion por Cuenta (XLS)</B></FONT></P>
        <FORM action="{% url 'rendicion_cuenta_xls' %}" method="post" name="myForm">
            {% csrf_token %}
            <TABLE border="0" cellpadding="3" cellspacing="1">
                <TBODY>
                    <TR bgcolor="#b0c0d0">
                        <TD align="left" class="TablaHeader" colspan="2"><B>&nbsp;&nbsp;&nbsp;&nbsp;Seleccionar</B></TD>
                    </TR>
                    <TR bgcolor="#b0c0d0">
                        <TD align="left" class="TablaRows2" colspan="1">&nbsp;Per&iacute;odo:&nbsp;</TD>
                        <TD class="TablaRows">
                            &nbsp;&nbsp;

                            <SELECT class="FormComboBox" name="periodo">
                                {% for value, label in form.periodo.field.choices %}
                                        <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}

                        </TD>
                    </TR>
                    <TR bgcolor="#b0c0d0">
                        <TD class="TablaRows2">&nbsp;Centro de Costos:&nbsp;</TD>
                        <TD class="TablaRows">
                            &nbsp;&nbsp;
                            <SELECT class="FormComboBox" name="centroCostoCodigo">
                                <OPTION value="1935676-CC Ec Espec">CC {{unit}}</OPTION>
                                <!-- Agrega más opciones si es necesario -->
                            </SELECT>
                        </TD>
                    </TR>
                    <INPUT name="centroCostoID" type="hidden" value="0">
                    <INPUT name="detalle" type="hidden" value="">
                    <TR>
                        <TD align="right" bgcolor="#383468" class="TablaRows2" colspan="2" height="41">
                            <INPUT class="FormButton" name="Consultar" type="submit" value="Consultar">&nbsp;&nbsp;&nbsp;
                        </TD>
                    </TR>
                </TBODY>
            </TABLE>
        </FORM>
{% endblock %}

</BODY></HTML>