{% extends 'base.html' %}

{% load static %}
{% block body %}

<link href="{% static 'media/styles.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'media/TablasStyles.css' %}" rel="stylesheet" type="text/css">

<STYLE type="text/css">
body {
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #FFFFFF;

.center-cell {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
}
.input-box {
  width: 130px;
  height: 15px; /* Ajusta el ancho según sea necesario */

  text-align: right; /* Alinea el texto a la derecha */
  border: 1px solid #ccc; /* Bordes similares */
  background-color: #cccccc; /* Fondo gris claro */
  font-size: 12px; /* Tamaño de fuente adecuado */
}

#estilo-especial tr {
  background-color: #ebebe9; /* Fondo gris claro para las filas */
}

#estilo-especial td {

  border-bottom: 2px solid white; /* Separación en blanco entre filas */
}

#estilo-especial .input-box {
  width: 150px;
  text-align: right;
  background-color: #cccccc; /* Fondo gris en los cuadros de texto */
  border: 1px solid #a7a6a6;
  font-size: 13px;
}

}
</STYLE>

<BR>

<TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
  <TR>
    <TD>
      <TABLE border="0" cellpadding="0" cellspacing="0" width="100%">
        <TR>
          <TD height="224" valign="top" width="83%">
            <BR><BR>
            <TABLE align="center" border="0" cellpadding="0" cellspacing="0" width="400">
              <TR bgcolor="#B0C0D0">
                <TD align="center" bgcolor="#B0C0D0" class="TablaTitulo" height="19" valign="middle">Movimiento</TD>
              </TR>
              <TR bgcolor="#B0C0D0">
                <TD align="center" class="TablaRows2" height="20">Fecha de transacción:&nbsp;{{ consumo_date|date:"d/m/Y" }}</TD>
              </TR>
              <TR bgcolor="#B0C0D0">
                <TD align="center" class="TablaRows2" height="20">Número de autorización Ticket:&nbsp;{{ num_ticket }}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Monto total:&nbsp;{{ importe }}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Denominación Establecimiento:&nbsp;{{ establecimiento }}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">CUIT:&nbsp;</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Código Usuario:&nbsp;971800{{user.id}}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">DNI:&nbsp; </TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Número de tarjeta:&nbsp;{{ card_number }}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Denominación Tarjeta:&nbsp;{{ card_name }}</TD>
              </TR>
              <TR>
                <TD align="center" class="TablaRows2" height="20">Fecha de actualización:&nbsp;{{ consumo_date|date:"d/m/Y" }}</TD>
              </TR>
              <TR bgcolor="#B0C0D0">
                <TD align="center" bgcolor="#B0C0D0" class="TablaTitulo" height="2"></TD>
              </TR>
            </TABLE>
            <BR><BR><BR>


				<form method="post">
					{% csrf_token %}
					<TABLE align="center" border="0" cellpadding="0" cellspacing="0" width="298">
						<TR bgcolor="#B0C0D0">
						  <TD align="center" bgcolor="#B0C0D0" class="TablaTitulo" colspan="2" height="19" valign="middle">Datos Adicionales</TD>
						</TR>
						<TR bgcolor="#B0C0D0">
						  <TD align="right" class="TablaRows2" height="20">&nbsp;Número de factura:&nbsp;</TD>
						  <TD align="left" class="TablaRows2" height="20">
							<INPUT class="FormTextBox" maxlength="15" name="numeroFactura" size="20" style="text-align: right" type="number" value="{{ numeroFactura }}">
						  </TD>
						</TR>
						<TR bgcolor="#B0C0D0">
						  <TD align="right" class="TablaRows2" height="20">&nbsp;Número de móvil:&nbsp;</TD>
						  <TD align="left" class="TablaRows2" height="20">
							<INPUT class="FormTextBox" maxlength="15" name="numeroMovil" size="20" style="text-align: right" type="number"  value="{{ numeroMovil }}">
						  </TD>
						</TR>
						<TR>
						  <TD align="right" class="TablaRows2" height="20">&nbsp;Odómetro:&nbsp;</TD>
						  <TD align="left" class="TablaRows2" height="20">
							<INPUT class="FormTextBox" maxlength="6" name="odometro" size="20" style="text-align: right" type="number" value="{{ odometro }}">
						  </TD>
						</TR>
					</TABLE>

              <BR>

				<table align="center" border="0" cellpadding="4" cellspacing="1" width="90%">
					<thead>
						<tr bgcolor="#383468">
							<td class="TablaHeader"><strong>Tipo de gasto</strong></td>
							<td class="TablaHeader"><strong>Cantidad</strong></td>
							<td class="TablaHeader"><strong>Unidad Medida</strong></td>
							<td class="TablaHeader"><strong>Clase</strong></td>
							<td class="TablaHeader"><strong>Monto parcial</strong></td>
						</tr>
					</thead>



					
					<tbody id="estilo-especial">
						<tr>
						{% csrf_token %}
						<td>
							<div class="center-cell">
							  <select name="tipo_de_gasto" class="input-box">
								<option value="COMBUSTIBLE" {% if consumo.tipo_de_gasto == "COMBUSTIBLE" %}selected{% endif %}>COMBUSTIBLE</option>
								<option value="SERVICIOS" {% if consumo.tipo_de_gasto == "SERVICIOS" %}selected{% endif %}>SERVICIOS</option>
								<option value="REPUESTOS" {% if consumo.tipo_de_gasto == "REPUESTOS" %}selected{% endif %}>REPUESTOS</option>
								<option value="OTROS" {% if consumo.tipo_de_gasto == "OTROS" %}selected{% endif %}>OTROS</option>								<option value="NAFTA" {% if consumo.tipo_de_gasto == "NAFTA" %}selected{% endif %}>NAFTA</option>
								<option value="FLUIDOS" {% if consumo.tipo_de_gasto == "FLUIDOS" %}selected{% endif %}>FLUIDOS</option>

							</select>
							</div>
						  </td>
						<td><div class="center-cell"><input type="number" name="cantidad" type="number" value="{{ consumo.cantidad|default:'' }}" class="input-box"></div></td>
						<td>
							<div class="center-cell">
							  <select name="un_med" class="input-box">
								<option value="LITROS" {% if consumo.un_med == "LITROS" %}selected{% endif %}>LITROS</option>
								<option value="KG" {% if consumo.un_med == "KG" %}selected{% endif %}>KG</option>
								<option value="UNIDADES" {% if consumo.un_med == "UNIDADES" %}selected{% endif %}>UNIDADES</option>
								<option value="MTS3" {% if consumo.un_med == "MTS3" %}selected{% endif %}>MTS3</option>
							  </select>
							</div>
						  </td>
						<td>
							<div class="center-cell">
							  <select name="clase" class="input-box">
								<option value="GASOIL" {% if consumo.clase == "GASOIL" %}selected{% endif %}>GASOIL</option>
								<option value="GAS" {% if consumo.clase == "GAS" %}selected{% endif %}>GAS</option>
								<option value="SUPER" {% if consumo.clase == "SUPER" %}selected{% endif %}>SUPER</option>
								<option value="COMUN" {% if consumo.clase == "COMUN" %}selected{% endif %}>COMUN</option>
								<option value="BIOCOMBUSTIBLE" {% if consumo.clase == "BIOCOMBUSTIBLE" %}selected{% endif %}>BIOCOMBUSTIBLE</option>
								<option value="OTROS" {% if consumo.clase == "OTROS" %}selected{% endif %}>OTROS</option>
								<option value="NAFTA PREMIUM" {% if consumo.clase == "NAFTA PREMIUM" %}selected{% endif %}>NAFTA PREMIUM</option>
								<option value="GASOIL PREMIUM" {% if consumo.clase == "GASOIL PREMIUM" %}selected{% endif %}>GASOIL PREMIUM</option>
							  </select>
							</div>
						  </td>
						<td><div class="center-cell"><input type="number" name="monto_parcial" value="{{ consumo.monto_parcial|default:'' }}" class="input-box"></div></td>
						</tr>

					</tbody>
				</table>

				<br>
				<!-- Botones de Confirmar y Cancelar -->
				<table align="center" border="0" cellpadding="20">
					<tr>
						
							{% csrf_token %}
						<td><button type="submit" class="FormButton">Confirmar</button></td>
						<td><button type="button" class="FormButton" onclick="window.history.back()">Cancelar</button></td>
					</tr>
				</table>
			</form>
		</td>
	</tr>
</table>
</body>

{% endblock %}
</body>
</html>