<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/WD-html-in-xml/DTD/xhtml1-strict.dtd">
<HTML lang="es">
    <HEAD>
        <TITLE>Visa Home Commercial Cards Recargables</TITLE>
        <META teradev-xsl="Login"><META content="no-cache" http-equiv="pragma">
        <META content="0" http-equiv="expires"><META content="text/html;CHARSET=ISO-8859-1" http-equiv="Content-Type">
        <LINK href="https://prismanet.prismamediosdepago.com/recargables/media/styles.css" rel="stylesheet" type="text/css">
        <LINK href="https://prismanet.prismamediosdepago.com/recargables/media/TablasStyles.css" rel="stylesheet" type="text/css">
    </HEAD>
    <BODY bgcolor="#FFFFFF" lang="es" leftmargin="0" marginheight="0" marginwidth="0" onload="document.login.usuario.focus(); document.login.usuario.select()" topmargin="0">

        <TABLE border="0" cellpadding="0" cellspacing="0" width="910">
            <TR><TD><IMG src="https://prismanet.prismamediosdepago.com/recargables/media/Encabezado.jpg"></TD></TR><TR><TD>
        <TABLE border="0" cellpadding="0" cellspacing="10"><TR><TD align="right" valign="top">
            <FORM method="post" name="login"><BR><BR>
                {% csrf_token %}
                <P class="TextoBaseChico"><FONT color="#336699">
                    <BR>                            Usuario:                            <BR>
                        <INPUT class="FormTextBox" name="username" size="15" type="text">
                            <BR>                            Clave de acceso:                            <BR>
                                <INPUT autocomplete="off" class="FormTextBox" name="password" size="12" type="password"><BR><BR>
                                    <INPUT class="FormButton" name="Ingresar" type="submit" value=" Ingresar ">
                                        <BR><BR></FONT><BR><BR><BR></P><P class="TextoBaseChico">
                                            
                                            
                                            </P></FORM></TD><TD background="https://prismanet.prismamediosdepago.com/recargables/media/LineaPunto.gif" width="4"></TD><TD valign="top"><IMG src="https://prismanet.prismamediosdepago.com/recargables/media/PresentacionCopres.jpg"><BR><SPAN class="TextoBaseChico"><FONT color="#666666"><BR>
                                                <STRONG>VISA COMMERCIAL CARDS RECARGABLES, NUEVAS SOLUCIONES PARA LAS NECESIDADES DE SU                            EMPRESA.</STRONG>
                                                <BR><BR>                         El programa VISA COMMERCIAL CARDS RECARGABLES le brinda soluciones integrales de gran                         flexibilidad.                         <BR><BR><STRONG>VisaHome Commercial Cards Recargables</STRONG>
                                                                                es una herramienta &uacute;nica para acceder v&iacute;a internet,                         a la informaci&oacute;n de las tarjetas Visa Recargables de su compa&ntilde;&iacute;a.                         <BR>
                                                    <BR>                         Le permitir&aacute; asociar las Tarjetas a Centros de Costos, reasignarles fondos, obtener Reportes                         de Actividad de todas                         las operaciones realizadas y definir otros Usuarios del sistema dentro de su empresa.                         <BR>
                                                    <BR>                         Para ingresar, utilice su Nombre de Usuario y C&oacute;digo de Acceso. Si Ud. no posee esta                         informaci&oacute;n, verifique en                         su Empresa si Ud. est&aacute; autorizado para ingresar al sistema.                         <BR>
                                        </FONT></SPAN><BR><BR></TD></TR></TABLE><BR></TD></TR>


</TABLE></BODY></HTML>